# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL=
SHADOW_DATABASE_URL=


# DATABASE_URL=
JWT_SECRET=

# SHADOW_DATABASE_URL="postgres://f24aeaa9d3b537c74f5b565b4200f235bdc1f1e04109685697b26b0785c65a32:sk_CnNgfhBCsbzFW3C0FPXqc@db.prisma.io:5432/hamro_pasal_shadow?sslmode=require"

SENDGRID_API_KEY=

# SMTP Configuration for Gmail
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# Frontend URL for password reset links
FRONTEND_URL=http://localhost:3000


// DummmyJson API for product data
DUMMYJSON_API_URL=https://dummyjson.com

TWILIO_ACCOUNT_SID=VA2d8d9e672322059a0c3f4253ba5b9207
TWILIO_AUTH_TOKEN=423f358475188cea66605b0a5cde8b3a